<content>
    <div class="features">
        <div>
            <img src="{{ site.assets_url }}/assets/icons/lock.svg" alt="">
            <div>
                <span>True Privacy</span>
                <p>
                    Stay private while surfing the Web with 
                    you are in charge of where your traffic 
                    handle connections
                </p>
            </div>
        </div>
        <div>
            <img src="{{ site.assets_url }}/assets/icons/shield.svg" alt="">
            <div>
                <span>True Privacy</span>
                <p>
                    Stay private while surfing the Web with 
                    you are in charge of where your traffic 
                    handle connections
                </p>
            </div>
        </div>
        <div>
            <img src="{{ site.assets_url }}/assets/icons/community.svg" alt="">
            <div>
                <span>True Privacy</span>
                <p>
                    Stay private while surfing the Web with 
                    you are in charge of where your traffic 
                    handle connections
                </p>
            </div>
        </div>
    </div>
</content>  