<content>
    <div class="map">
        <div class="m-l">
            <img src="{{ site.assets_url }}/assets/img/map.gif" alt="">
        </div>
        <div class="m-r">
            <h1>The next evolution of the internet</h1>
            <p>
                it's the foundation we build our products on. We make 
                sacrifices on  all other fronts to protect your privacy and 
                push the limits of technology to do so.
            </p>
            <div>
                <img src="" alt="">
                <span>Edward Snowden</span>
                <p>
                    “The way how VPNs work now are not good 
                    enough. Safing is pushing forward in the right
                    direction for privacy.”
                </p>
            </div>
        </div>
    </div>
</content>